/* @fontface */
/* Global variables */

// * Color palette
:root {
  // dark theme
  --color-bg-dk: rgba(10, 27, 51, 0.85);
  --color-bg-dk2: rgba(24, 49, 83, 0.6);
  --color-font-dk: rgb(176, 183, 204);
  --color-header-dk: rgb(246, 246, 246);
  --color-font-accent: rgb(251, 120, 32);
  --color-font-accent-lighter: rgba(250, 163, 104, 0.3);

  // light theme
}
