/* @fontface */
/* Global variables */

// * Color palette
:root {
  // dark theme
  --color-bg-dk: rgba(10, 27, 51, 0.85);
  --color-font-dk: rgb(176, 183, 204);
  --color-header-dk: rgb(246, 246, 246);
  --color-font_accent: rgb(251, 120, 32);

  // light theme
}
