// & Generic elements

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
}

html {
  font-size: 62.5%; // ! 1rem = 10px
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

// * Body Colors
body {
  .navBar {
    .fa-lightbulb {
      color: var(--nav-icon);
    }
  }
  background-color: var(--color-background);
  h1 {
    .overTitle {
      color: var(--color-overtitle);
    }
    .title {
      color: var(--color-title);
    }
    .subTitle {
      color: var(--color-subtitle);
    }
  }
  .hero {
    .hero__content {
      color: var(--color-heroContent);
    }
  }
  .credit-content {
    .credit-r_side,
    .credit-l_side {
      &::after {
        border-right: 2px solid var(--credit-line);
      }
    }
    color: var(--credits);
    &:hover {
      color: var(--credits-hover);
    }
  }
  .btn {
    color: var(--color-btn);
    border-color: var(--color-btn-border);
    &:hover {
      background-color: var(--color-btn-hover);
    }
  }
  button {
    color: var(--button);
  }
  .section-heading {
    color: var(--section-heading);
  }
  .section-content > p {
    color: var(--section-content);
  }
  .card-colors {
    background-color: var(--card-skills);
    color: var(--card-skills-content);
    .group-starts {
      & .fa-star {
        color: var(--stars-color);
      }
    }

    &:hover {
      background-color: var(--card-skills-hover);
    }
  }

  .card-logo_clmLeft {
    h4 {
      color: var(--clmLeft-headings);
    }
    i {
      color: var(--clmLeft-icons);
    }
    a:link,
    a:visited,
    a:active {
      color: var(--clmLeft-links);
    }
    a:hover {
      color: var(--color-links-hover);
    }
    p {
      color: var(--clmLeft-links);
    }
  }
  .section-exp_subHeading {
    color: var(--exp-subHeading);
  }
  .job {
    color: rgb(228, 229, 241);
    background: var(--color-secondary-trans);
    .job-role {
      color: var(--color-lightest);
    }
    .job-title {
      color: var(--color-lightest);
    }

    .job-overtitle {
      color: var(--job-time);
    }
    .job-sub-tech {
      color: var(--color-accent-darker);
    }
    .job-sub-icon {
      i {
        color: var(--color-lightest);
      }
    }
  }
  .section-practices {
    .card {
      background-color: var(--practice-card);

      .card_header {
        color: var(--practice-card-heading);
      }
      .card_content {
        color: var(--practice-card-content);
      }
      .card_footer > a {
        color: var(--practice-card-footer);
      }
    }
  }
  .section-contact {
    p {
      color: var(--contact-p);
    }
    li {
      color: var(--contact-li);
    }
  }
  .footer {
    .footer-content {
      color: var(--footer);
    }
  }
}

body.light-theme {
  // navBar
  --nav-icon: var(--color-content-lighter);
  // main
  --color-background: var(--color-background-lightTheme);
  --color-overtitle: var(--color-accent);
  --color-title: var(--color-primary);
  --color-subtitle: var(--color-primary-lighter);
  --color-heroContent: var(--color-content);
  --credits: var(--color-primary);
  --credits-hover: var(--color-accent);
  --credit-line: var(--color-primary);
  --color-btn: var(--color-accent);
  --color-btn-border: var(--color-accent);
  --color-btn-hover: var(--color-accent-opacity);
  --section-heading: var(--color-primary);
  --section-content: var(--color-content);
  --button: var(--color-primary-lighter);
  // Skills section
  --card-skills: var(--color-primary);
  --card-skills-hover: var(--color-primary);
  --card-skills-content: var(--color-content-darker);
  --stars-color: var(--color-secondary);
  --clmLeft-headings: var(--color-primary);
  --clmLeft-icons: var(--color-primary);
  --clmLeft-links: var(--color-content);
  --color-links-hover: var(--color-accent);
  // Experience section
  --exp-subHeading: var(--color-primary);
  --job-role: var(--color-primary);
  --job-title: var(--color-primary);
  --job-card-content: var(--color-content-lighter);
  --job-time: var(--color-accent);
  --job-desc: var(--color-secondary);
  --job-tech: var(--color-accent-darker);
  --job-icons: var(--color-primary);
  // practice
  --practice-card: var(--color-primary);
  --practice-card-heading: var(--color-content-lighter);
  --practice-card-content: var(--color-content-darker);
  --practice-card-footer: var(--color-accent-darker);
  // footer
  --footer: var(--color-content-darker);
  --footer-bg: var(--color-primary);
}

body.dark-theme {
  // navBar
  --nav-icon: var(--color-content-lighter);
  // main
  --color-background: var(--color-background-darkTheme);
  --color-overtitle: var(--color-accent);
  --color-title: var(--color-lightest);
  --color-subtitle: var(--color-content-darker);
  --color-heroContent: var(--color-content-darkness);
  --credits: var(--color-content-darkness);
  --credits-hover: var(--color-accent);
  --credit-line: var(--color-content-darkness);
  --color-btn: var(--color-accent);
  --color-btn-border: var(--color-accent);
  --color-btn-hover: var(--color-accent-opacity);
  --section-heading: var(--color-lightest);
  --section-content: var(--color-content-darkness);
  --button: var(--color-content-lighter);
  // Skills section
  --card-skills: var(--color-primary);
  --card-skills-hover: var(--color-primary);
  --card-skills-content: var(--color-content-darkness);
  --stars-color: var(--color-secondary);
  --clmLeft-headings: var(--color-lightest);
  --clmLeft-icons: var(--color-content-darkness);
  --clmLeft-links: var(--color-content-darkness);
  --color-links-hover: var(--color-accent);
  // Experience section
  --exp-subHeading: var(--color-content-darkness);
  --job-role: var(--color-content-darkness);
  --job-title: var(--color-lightest);
  --job-card-content: var(--color-content-lighter);
  --job-time: var(--color-accent);
  --job-desc: var(--color-secondary);
  --job-tech: var(--color-accent-darker);
  --job-icons: var(--color-lightest);
  // practice
  --practice-card: var(--color-primary);
  --practice-card-heading: var(--color-content-lighter);
  --practice-card-content: var(--color-content-darker);
  --practice-card-footer: var(--color-accent-darker);
  // contact
  --contact-p: var(--color-content-darkness);
  --contact-li: var(--color-content-darkness);

  // footer
  --footer: var(--color-content-darker);
  --footer-bg: var(--color-primary);
}

@media screen and(min-width:1250px) {
  body.light-theme {
    .job {
      color: var(--job-card-content);
      background: var(--color-content-lighter);
      .job-role {
        color: var(--job-role);
      }
      .job-title {
        color: var(--job-title);
      }
      .job-description {
        background-color: var(--job-desc);
      }
      .job-overtitle {
        color: var(--job-time);
      }
      .job-sub-tech {
        color: var(--job-tech);
      }
      .job-sub-icon {
        i {
          color: var(--job-icons);
        }
      }
    }
  }
  body.dark-theme {
    .job {
      color: var(--job-card-content);
      background: var(--color-background-darkTheme);
      .job-role {
        color: var(--job-role);
      }
      .job-title {
        color: var(--job-title);
      }
      .job-description {
        background-color: var(--job-desc);
      }
      .job-overtitle {
        color: var(--job-time);
      }
      .job-sub-tech {
        color: var(--job-tech);
      }
      .job-sub-icon {
        i {
          color: var(--job-icons);
        }
      }
    }
  }
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}
