// * Body Colors
body {
  // & navBar
  .navBar {
    .nav__mobile {
      background-color: var(--nav-mobile);
    }
    .nav__mobile {
      background-color: var(--nav-desktop);
    }

    .hidden-menu {
      background-color: var(--nav-hidden);
    }

    .fa-lightbulb {
      color: var(--nav-icon);
    }

    .nav__links > li > a {
      color: var(--nav-links);
    }
    .nav__links > li > a:hover {
      color: var(--nav-links-hover);
    }
    .nav__links > li::before {
      color: var(--nav-links-numbers);
    }
    .burger__btn {
      background-color: var(--nav-burger);
    }
    .burger__btn::before,
    .burger__btn::after {
      background-color: var(--nav-burger-bars);
    }
  }
  .sideLinks,
  .sideLinks:link,
  .sideLinks:visited,
  .sideLinks:hover,
  .sideLinks:active {
    color: var(--color-content-lighter);
  }
  #themeMobile {
    color: var(--color-content-lighter);
  }

  // & Main
  background-color: var(--color-background);

  // & Hero
  h1 {
    .overTitle {
      color: var(--color-overtitle);
    }
    .title {
      color: var(--color-title);
    }
    .subTitle {
      color: var(--color-subtitle);
    }
  }
  .hero {
    .hero__content {
      color: var(--color-heroContent);
    }
  }

  // & Credits
  .credit-content {
    .credit-r_side,
    .credit-l_side {
      &::after {
        border-right: 2px solid var(--credit-line);
      }
    }
    color: var(--credits);
    &:hover {
      color: var(--credits-hover);
    }
  }

  // & Sections
  .btn {
    color: var(--color-btn);
    border-color: var(--color-btn-border);
    &:hover {
      background-color: var(--color-btn-hover);
    }
  }
  button {
    color: var(--button);
  }

  .section-heading {
    color: var(--section-heading);
  }
  .section-heading::before {
    color: var(--color-number-Heading);
  }
  .section-heading::after {
    border-bottom: 2px solid var(--color-border-Heading);
  }

  .section-content {
    p {
      color: var(--section-content);
    }
  }
  .caption {
    color: var(--color-caption);
  }

  // & Section - Skills

  .card-logo_clmLeft {
    h4 {
      color: var(--clmLeft-headings);
    }
    i {
      color: var(--clmLeft-icons);
    }
    a:link,
    a:visited,
    a:active {
      color: var(--clmLeft-links);
    }
    a:hover {
      color: var(--color-links-hover);
    }
    p {
      color: var(--clmLeft-links);
    }
  }

  .subSkills {
    color: var(--sub-skills);
  }

  // & Section - Experience

  .section-exp_subHeading {
    color: var(--subHeading);
  }
  .job {
    color: rgb(228, 229, 241);
    background: var(--color-secondary-trans);
    .job-role {
      color: var(--job-role);
    }
    .job-overtitle {
      color: var(--job-time);
    }
    .job-title {
      color: var(--job-title);
    }
    .job-description {
      background-color: transparent;
      color: var(--job-desc);
    }

    .job-sub-tech {
      color: var(--job-tech);
    }
    .job-sub-icon > li > a {
      i {
        color: var(--job-icons);
        &:hover {
          color: var(--job-icons-hover);
        }
      }
    }
  }
  .section-practices {
    .card {
      background-color: var(--practice-card);
      border: 2px solid var(--practice-card-border);
      &:hover {
        box-shadow: 2px 2px 10px var(--practice-card-shadow);
      }
      .card_header {
        color: var(--practice-card-heading);
      }
      .card_content {
        color: var(--practice-card-content);
      }
      .card_tech {
        color: var(--practice-card-tech);
      }
      .card_footer > a {
        color: var(--practice-card-footer);
      }
      .card-icon {
        color: var(--practice-card-icons);
        &:hover {
          color: var(--practice-card-icons-hover);
        }
      }
    }
  }
}

// & Section - Contact

.section-contact {
  p {
    color: var(--contact-p);
  }
  li {
    color: var(--contact-li);
  }
}
.contact-banner {
  background-image: var(--bg-banner);
}

// & Section - Footer
.footer {
  .footer-content {
    color: var(--footer);
  }
}

// & Themes Colors

body.light-theme {
  // navBar
  --nav-mobile: var(--color-secondary-trans);
  --nav-desktop: var(--color-primary);
  --nav-hidden: var(--color-primary);
  --nav-icon: var(--color-primary);
  --nav-links: var(--color-primary);
  --nav-links-numbers: var(--color-primary-accent);
  --nav-links-hover: var(--color-primary-accent);
  --nav-burger: var(--color-primary-accent);
  --nav-burger-bars: var(--color-primary-accent);
  // main
  --color-background: var(--color-background-lightTheme);
  --color-overtitle: var(--color-primary-accent);
  --color-title: var(--color-primary);
  --color-subtitle: var(--color-primary-lighter);
  --color-heroContent: var(--color-content);
  --color-caption: var(--color-content);
  --credits: var(--color-primary);
  --credits-hover: var(--color-primary-accent);
  --credit-line: var(--color-primary);
  --color-btn: var(--color-primary-accent);
  --color-btn-border: var(--color-primary-accent);
  --color-btn-hover: var(--color-primary-accent-opa);
  --section-heading: var(--color-primary);
  --subHeading: var(--color-primary);
  --color-number-Heading: var(--color-primary-accent);
  --color-border-Heading: var(--color-primary-accent);
  --section-content: var(--color-content);
  --button: var(--color-primary-lighter);
  --sub-skills: var(--color-content);
  // Skills section
  --card-skills: var(--color-primary-accent);
  --card-skills-bg: var(--color-primary-accent-opa);
  --card-skills-hover: var(--color-primary-accent-opa);
  --card-skills-content: var(--color-darkest);
  --stars-color: var(--color-secondary);
  --clmLeft-headings: var(--color-primary);
  --clmLeft-icons: var(--color-primary);
  --clmLeft-links: var(--color-content);
  --color-links-hover: var(--color-primary-accent);
  --color-dots: var(--color-primary-accent);
  // Experience section
  --exp-subHeading: var(--color-primary);
  --job-role: var(--color-content-darkness);
  --job-title: var(--color-lightest);
  --job-card-content: var(--color-content-lighter);
  --job-time: var(--color-primary);
  --job-desc: var(--color-lightest);
  --job-tech: var(--color-primary);
  --job-icons: var(--color-primary);
  --job-icons-hover: var(--color-primary-accent);
  // practice
  --practice-card-shadow: var(--color-primary);
  --practice-card-border: var(--color-primary-accent);
  --practice-card: var(--color-primary-accent-opa);
  --practice-card-heading: var(--color-primary);
  --practice-card-content: var(--color-content);
  --practice-card-tech: var(--color-primary-accent);
  --practice-card-footer: var(--color-primary);
  --practice-card-icons: var(--color--primary);
  --practice-card-icons-hover: var(--color-primary-accent);
  --bg-banner: var(--color-banner-light);
  // footer
  --footer: var(--color-content-darker);
  --footer-bg: var(--color-primary);
}

body.dark-theme {
  // navBar
  --nav-mobile: var(--color-primary);
  --nav-desktop: var(--color-primary);
  --nav-hidden: var(--color-primary);
  --nav-icon: var(--color-content-lighter);
  --nav-links: var(--color-content-lighter);
  --nav-links-numbers: var(--color-accent);
  --nav-links-hover: var(--color-accent);
  --nav-burger: var(--color-accent);
  --nav-burger-bars: var(--color-accent);

  // main
  --color-background: var(--color-background-darkTheme);
  --color-overtitle: var(--color-accent);
  --color-title: var(--color-lightest);
  --color-subtitle: var(--color-content-darker);
  --color-heroContent: var(--color-content-darkness);
  --color-caption: var(--color-content-darkness);
  --credits: var(--color-content-darkness);
  --credits-hover: var(--color-accent);
  --credit-line: var(--color-content-darkness);
  --color-btn: var(--color-accent);
  --color-btn-border: var(--color-accent);
  --color-btn-hover: var(--color-accent-opacity);
  --section-heading: var(--color-lightest);
  --color-number-Heading: var(--color-accent);
  --color-border-Heading: var(--color-accent);
  --subHeading: var(--color-content-lighter);
  --section-content: var(--color-content-darkness);
  --button: var(--color-content-lighter);
  --sub-skills: var(--color-content-lighter);
  // Skills section
  --card-skills: var(--color-accent);
  --card-skills-bg: var(--color-accent-opa2);
  --card-skills-hover: var(--color-accent-opa2);
  --card-skills-content: var(--color-content-lighter);
  --stars-color: var(--color-primary);
  --clmLeft-headings: var(--color-lightest);
  --clmLeft-icons: var(--color-content-darkness);
  --clmLeft-links: var(--color-content-darkness);
  --color-links-hover: var(--color-accent);
  --color-dots: var(--color-accent);
  // Experience section
  --exp-subHeading: var(--color-content-darkness);
  --job-role: var(--color-content-darkness);
  --job-title: var(--color-lightest);
  --job-card-content: var(--color-content-lighter);
  --job-time: var(--color-accent);
  --job-desc: var(--color-lightest);
  --job-tech: var(--color-accent-darker);
  --job-icons: var(--color-lightest);
  --job-icons-hover: var(--color-accent);
  // practice
  --practice-card-shadow: var(--color-accent);
  --practice-card-border: var(--color-accent);
  --practice-card: var(--color-accent-opacity);
  --practice-card-heading: var(--color-content-lighter);
  --practice-card-content: var(--section-content);
  --practice-card-tech: var(--color-accent);
  --practice-card-footer: var(--color-content-lighter);
  --practice-card-icons: var(--color--accent);
  --practice-card-icons-hover: var(--color-accent);
  // contact
  --contact-p: var(--color-content-darkness);
  --contact-li: var(--color-content-darkness);
  --bg-banner: var(--color-banner-dark);

  // footer
  --footer: var(--color-content-darker);
  --footer-bg: var(--color-primary);
}

@media screen and(min-width:1250px) {
  body.light-theme {
    .job {
      color: var(--job-card-content);
      background: transparent;
      .job-role {
        color: var(--color-primary-lighter);
      }
      .job-title {
        color: var(--color-primary);
      }
      .job-description {
        background-color: var(--color-secondary-trans);
        color: var(--color-lightest);
      }
      .job-overtitle {
        color: var(--job-time);
      }
      .job-sub-tech {
        color: var(--job-tech);
      }
    }
  }
  body.dark-theme {
    .job {
      color: var(--job-card-content);
      background: var(--color-background-darkTheme);
      .job-role {
        color: var(--job-role);
      }
      .job-title {
        color: var(--job-title);
      }
      .job-description {
        background-color: var(--color-secondary-trans);
        color: var(--color-lightest);
      }
      .job-overtitle {
        color: var(--job-time);
      }
      .job-sub-tech {
        color: var(--job-tech);
      }
      .job-sub-icon {
        i {
          color: var(--job-icons);
        }
      }
    }
  }
}
