// Small comp to bigger ones
// ^ Btn
// ^ Navigation Bar
// ^ Hero

// * BTN

.btn {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid var(--color-font-accent-dk);
  color: var(--color-font-accent-dk);
  cursor: pointer;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
  max-width: 300px;
  padding: 1.3rem;
  &:hover {
    background-color: var(--color-font-accent-lg);
  }
}

// * NAVIGATION-BAR

.nav__mobile {
  background-color: var(--color-bg-lg);
  display: flex;
  padding: 3rem 4rem 5rem 3rem;
}

.nav__desktop {
  display: none;
  &-bg2 {
    display: none;
  }
}

@media screen and (min-width: 636px) {
  .nav__mobile {
    display: none;
  }
  .nav__desktop {
    background-color: var(--color-bg-lg);
    display: flex;
    padding: 0 3rem 3rem 3rem;
    &-bg2 {
      background-color: var(--color-bg2-lg);
      display: flex;
      font-size: 1.5rem;
    }
    .nav__links {
      counter-reset: section;
      font-size: 1.5rem;
      list-style-type: none;
      padding: 1rem;
      li {
        margin: 0 1rem;
      }
      li::before {
        counter-increment: section;
        content: counters(section, ".") ". ";
        color: var(--color-font-accent);
      }

      li:last-child a:hover {
        color: var(--color-font-lg);
      }

      li:last-child::before {
        content: unset;
      }
      li > a,
      li > a:link,
      li > a:visited,
      li > a:active {
        text-decoration: none;
        transition: color 0.4s, smooth;
      }
      li > a:hover {
        color: var(--color-font-accent-dk);
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .nav__desktop {
    .nav__links {
      font-size: 2rem;
    }
  }
}

// * HERO
.title {
  color: var(--color-light);
}

.section {
  background-color: var(--color-bg-lg);
  padding: 0 2rem 10rem 2rem;
  margin: 0 auto;

  .hero {
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.4;
    margin: 0 1rem;
    white-space: initial;
    h1 {
      .overTitle {
        color: var(--color-font-accent);
        font-size: 5vw;
        font-weight: 400;
      }
      .title {
        font-size: 10vw;
      }
      .subTitle {
        font-size: 7vw;
      }
    }
    .hero__content {
      font-size: 5vw;
      max-width: 95%;
      white-space: normal;
      margin-bottom: 2rem;
      line-height: 1.5;
    }
    .btn {
      font-size: 3.5vw;
    }
  }
}

@media screen and (min-width: 448px) {
  .section {
    padding: 1rem 3rem 10rem 3rem;
    .hero {
      h1 {
        line-height: 1.4;
        .overTitle {
          font-size: 2rem;
        }
        .title {
          font-size: 10vw;
        }
        .subTitle {
          font-size: 8vw;
        }
      }
      .hero__content {
        font-size: 2rem;
        max-width: 95%;
        white-space: normal;
        margin-bottom: 2rem;
      }
      .btn {
        font-size: 1.55rem;
      }
    }
  }
}

@media screen and(min-width:636px) {
  .section {
    padding: 0 3rem 10rem 3rem;
    .hero {
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      max-width: 55rem;
      white-space: initial;
      h1 {
        .overTitle {
          font-size: 2rem;
        }
        .title {
          font-size: 6.35rem;
        }
        .subTitle {
          font-size: 5.1rem;
        }
      }
      .hero__content {
        font-size: 2rem;
        max-width: 95%;
        white-space: normal;
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and(min-width:800px) {
  .section {
    .hero {
      line-height: 1.1;
      h1 {
        .title {
          font-size: 8vw;
        }
        .subTitle {
          font-size: 6.5vw;
        }
      }
    }
  }
}

@media screen and(min-width:1000px) {
  .section {
    .hero {
      h1 {
        .overTitle {
          font-size: 2rem;
        }
        .title {
          font-size: 8rem;
        }
        .subTitle {
          font-size: 6.5rem;
        }
      }
      .hero__content {
        font-size: 2rem;
        text-justify: auto;
      }
    }
  }
}

@media screen and(min-width:1200px) {
  .section {
    .hero {
      margin: 0 0 0 30rem;
    }
  }
}

// * Sections

.inner-section {
  align-items: flex-start;
  counter-reset: section;
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.4;
  margin: 0 1rem;
  white-space: initial;
}
.number-heading {
  margin-top: 7rem;
  font-size: 8vw;
  align-items: center;
  &::before {
    color: var(--color-font-accent-dk);
    counter-increment: section;
    content: counters(section, " . ") ". ";
    margin-right: 1rem;
  }
  &::after {
    border-bottom: 1px solid var(--color-font-accent-dk);
    opacity: 0.3;
    width: 150px;
    content: "";
    margin-left: 1rem;
  }
}
.inner {
  display: flex;
  flex-flow: column nowrap;
}

.inner-content > p {
  font-size: 4.5vw;
  white-space: initial;
  max-width: 95%;
}

.inner-image {
  margin: 2rem auto;
  img {
    border-radius: 5%;
  }
}

@media screen and (min-width: 448px) {
  .number-heading {
    font-size: 3rem;
  }

  .inner-content > p {
    font-size: 1.8rem;
  }
  .inner-image {
    cursor: pointer;
  }
}

@media screen and(min-width:636px) {
  .inner-section {
    margin: 0 auto;
    max-width: 55rem;
  }
}

@media screen and(min-width:1000px) {
  .inner-section {
    font-size: 2rem;
    text-justify: auto;
    max-width: 66rem;
  }
}

@media screen and(min-width:1200px) {
  .inner-section {
    margin: 0 0 0 35rem;
    padding-top: 3rem;
    max-width: 85rem;
  }
  .inner {
    flex-flow: row nowrap;
    align-items: center;
    gap: 5rem;
  }

  .inner-image img {
    filter: sepia(100%);
    transition: all 0.3s linear;
    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      filter: sepia(0.05%);
    }
  }
}
