// * NAVIGATION-BAR

.nav__mobile {
  background-color: var(--color-bg-lg);
  padding: 1.5rem 5rem 1.5rem 3rem;
  display: flex;
}

.nav__desktop {
  display: none;
  &-bg2 {
    display: none;
  }
}

@media screen and (min-width: 636px) {
  .nav__mobile {
    display: none;
  }
  .nav__desktop {
    padding: 1rem 3rem;
    display: flex;
    background-color: var(--color-bg-lg);
    &-bg2 {
      display: flex;
      background-color: var(--color-bg2-lg);
      font-size: 1.5rem;
    }
    .nav__links {
      padding: 1rem;
      font-size: 1.5rem;
      counter-reset: section;
      list-style-type: none;
      li {
        margin: 0 1rem;
      }
      li::before {
        counter-increment: section;
        content: counters(section, ".") ". ";
        color: var(--color-font-accent);
      }

      li:last-child a:hover {
        color: var(--color-font-lg);
      }

      li:last-child::before {
        content: unset;
      }
      li > a,
      li > a:link,
      li > a:visited,
      li > a:active {
        text-decoration: none;
        transition: color 0.4s, smooth;
      }
      li > a:hover {
        color: var(--color-font-accent-dk);
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .nav__desktop {
    .nav__links {
      font-size: 2rem;
    }
  }
}

.section {
  background-color: var(--color-bg-lg);
  padding: 1rem 3rem 2rem 3rem;
  margin: 0 auto;

  .hero {
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.4;
    margin: 0 1rem;
    white-space: initial;
    h1 {
      .overTitle {
        color: var(--color-font-accent);
        font-size: 6.5vw;
      }
      .title {
        font-size: 10vw;
      }
      .subTitle {
        font-size: 7vw;
      }
    }
    .hero__content {
      font-size: 6vw;
      max-width: 95%;
      white-space: normal;
      margin-bottom: 2rem;
      line-height: 1.5;
    }
  }
}

@media screen and(min-width:410px) {
  .section {
    .hero {
      h1 {
        .overTitle {
          font-size: 2rem;
        }
        .title {
          font-size: 4rem;
        }
        .subTitle {
          font-size: 3rem;
        }
      }
      .hero__content {
        font-size: 2rem;
        max-width: 95%;
        white-space: normal;
        margin-bottom: 2rem;
      }
    }
  }
}
@media screen and(min-width:600px) {
  .section {
    .hero {
      h1 {
        .title {
          font-size: 6.5vw;
        }
        .subTitle {
          font-size: 5.5vw;
        }
      }
    }
  }
}

@media screen and(min-width:800px) {
  .section {
    padding: 1rem 6rem;
    .hero {
      line-height: 1.2;
      h1 {
        .overTitle {
          font-size: 2rem;
        }
        .title {
          font-size: 8rem;
        }
        .subTitle {
          font-size: 6rem;
        }
      }
    }
  }
}

@media screen and(min-width:1024px) {
  .section {
    .hero {
      margin: 3rem auto;
      h1 {
        .overTitle {
          color: var(--color-font-accent);

          font-size: 2rem;
        }
        .title {
          font-size: 8rem;
        }
        .subTitle {
          font-size: 6rem;
        }
      }
      .hero__content {
        font-size: 2rem;
        max-width: 40%;
        white-space: normal;
        margin-bottom: 2rem;
        line-height: 1.6;
      }
    }
  }
}

.btn {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid var(--color-font-accent-dk);
  color: var(--color-font-accent-dk);
  cursor: pointer;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
  max-width: 300px;
  padding: 1.3rem;
  &:hover {
    background-color: var(--color-font-accent-lg);
  }
}
