// * NAVIGATION-BAR
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  transition: all 0.3s ease-in-out;
}

.navBar--hidden {
  transform: translateY(-10rem);
}

.nav__mobile {
  background-color: var(--color-primary);

  display: flex;
  padding: 3rem 4rem 3rem 3rem;
  height: 8rem;
  z-index: 11;
}

.nav__desktop,
.fa-lightbulb {
  display: none;
}

@media screen and (min-width: 700px) {
  .nav__mobile {
    display: none;
  }
  .fa-lightbulb {
    display: inline-block;
    font-size: 2rem;
    margin: 0 0 0 1.5rem;
    color: var(--color-font);
  }

  .nav__desktop {
    background-color: var(--color-primary);
    display: flex;
    padding: 2rem 3rem;
    height: 7.5rem;

    .nav__links {
      counter-reset: section;
      font-size: 1.5rem;
      list-style-type: none;

      li {
        margin: 0 1rem;
      }
      li::before {
        counter-increment: section;
        content: counters(section, ".") ". ";
        color: var(--color-accent);
      }

      li:last-child a:hover {
        transition: all 0.05s;
        color: var(--color-accent);
      }

      li:last-child::before {
        content: unset;
      }
      li > a,
      li > a:link,
      li > a:visited,
      li > a:active {
        text-decoration: none;
        transition: color 0.4s, smooth;
        color: var(--color-font);
      }
      li > a:hover {
        color: var(--color-accent);
      }
    }
  }
  .nav__desktop--trans {
    background-color: transparent;
  }
}

@media screen and (min-width: 800px) {
  .nav__desktop {
    .nav__links {
      font-size: 1.7rem;
    }
  }
}

// * hidden-menu
.hidden-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 8rem;
  width: 70vw;
  height: 100vh;
  z-index: 11;
  visibility: initial;
  background-color: var(--color-primary);
  padding: 3rem;
  z-index: 11;

  & ul {
    counter-reset: section;
    padding-left: 0;
    & li {
      margin: 4rem;
      ::before {
        counter-increment: section;
        content: counters(section, ".") ". ";
        color: var(--color-accent);
      }

      & a {
        font-size: 2.5rem;
        text-decoration: none;
        color: var(--color-font);
      }
    }
    #resumeHidden::before {
      content: unset;
    }
    & p,
    div {
      margin: 2rem 0 2rem 5rem;
      font-size: 2.5rem;
      color: var(--color-font);
      & label {
        margin-left: 0;
      }
    }
  }
  .fa-lightbulb {
    margin-left: 0;
  }
}
