.frame-logos {
  & .frame-logo > p {
    font-size: 1.6rem;
  }
}

.skill-table {
  padding: 1rem;

  border-radius: 20px;
  margin: 2rem 0;
}

.html-colors {
  background: rgb(218, 73, 18);
  background: linear-gradient(
    90deg,
    rgba(218, 73, 18, 1) 0%,
    rgba(230, 163, 89, 1) 50%,
    rgba(214, 121, 11, 1) 94%
  );
}

.css-colors {
  background: rgb(18, 135, 218);
  background: linear-gradient(
    90deg,
    rgba(18, 135, 218, 1) 0%,
    rgba(89, 176, 230, 1) 50%,
    rgba(11, 171, 214, 1) 94%
  );
}
