.frame-logos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  & .frame-logo > p {
    font-size: 2rem;
  }
}

.skill-table {
  display: inline-block;
  padding: 1rem;
  border-radius: 20px;
  margin: 2rem 0 4rem 0;
}

@media screen and(min-width:636px) {
  .frame-logos {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    align-items: flex-start;
    gap: 8rem 10rem;

    & .frame-logo > p {
      font-size: 2.2rem;
    }
    .skill-table {
      display: none;
    }
  }
}

@media screen and(min-width: 708px) {
  .frame-logos {
    margin: 0 auto;
  }
}

@media screen and(min-width: 1200px) {
  .skills-title {
    margin-left: 3.5rem;
  }

  .frame-logos {
    margin: 0 5rem 0 25rem;
    gap: 3rem 15rem;
    cursor: pointer;
  }
}

// * Table Colors

.html-colors {
  background: rgb(218, 73, 18);
  background: linear-gradient(
    90deg,
    rgba(218, 73, 18, 1) 0%,
    rgba(230, 163, 89, 1) 50%,
    rgba(214, 121, 11, 1) 94%
  );
}

.css-colors {
  background: rgb(18, 135, 218);
  background: linear-gradient(
    90deg,
    rgba(18, 135, 218, 1) 0%,
    rgba(89, 176, 230, 1) 50%,
    rgba(11, 171, 214, 1) 94%
  );
}

.sass-colors {
  background: rgb(160, 75, 163);
  background: linear-gradient(
    90deg,
    rgba(160, 75, 163, 1) 0%,
    rgba(198, 117, 200, 1) 50%,
    rgba(171, 105, 151, 1) 94%
  );
}

.js-colors {
  background: rgb(222, 224, 26);
  background: linear-gradient(
    90deg,
    rgba(222, 224, 26, 1) 0%,
    rgba(243, 255, 85, 1) 38%,
    rgba(251, 255, 142, 1) 82%
  );
}

.sql-colors {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 231, 224, 1) 51%,
    rgba(226, 238, 255, 1) 100%
  );
}
