// * HERO
.title {
  color: var(--color-lightest);
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.4;
  margin: 0 1rem 0 1rem;
  padding-top: 15rem;
  white-space: initial;
  h1 {
    .overTitle {
      font-size: 5vw;
      font-weight: 500;
    }
    .title {
      font-size: 10vw;
    }
    .subTitle {
      font-size: 7vw;
    }
  }
  .hero__content {
    font-size: 4vw;
    max-width: 95%;
    white-space: normal;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
  .btn {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 448px) {
  .hero {
    h1 {
      line-height: 1.4;
      .overTitle {
        font-size: 2rem;
      }
      .title {
        font-size: 10vw;
      }
      .subTitle {
        font-size: 8vw;
      }
    }
    .hero__content {
      font-size: 1.7rem;
      max-width: 95%;
      white-space: normal;
      margin-bottom: 2rem;
    }
    .btn {
      font-size: 1.55rem;
    }
  }
}

@media screen and(min-width:700px) {
  .hero {
    margin: 0 auto 0 auto;
    padding-top: 15rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    max-width: 55rem;
    white-space: initial;
    h1 {
      .overTitle {
        font-size: 2rem;
      }
      .title {
        font-size: 6.35rem;
      }
      .subTitle {
        font-size: 5.1rem;
      }
    }
    .hero__content {
      max-width: 95%;
      white-space: normal;
      margin-bottom: 2rem;
    }
  }
}

@media screen and(min-width:800px) {
  .hero {
    line-height: 1.1;
    h1 {
      .title {
        font-size: 8vw;
      }
      .subTitle {
        font-size: 6.5vw;
      }
    }
  }
}

@media screen and(min-width:1000px) {
  .hero {
    h1 {
      .overTitle {
        font-size: 2rem;
      }
      .title {
        font-size: 7rem;
      }
      .subTitle {
        font-size: 4.5rem;
      }
    }
    .hero__content {
      text-justify: auto;
    }
  }
}

@media screen and(min-width:1250px) {
  .hero {
    margin: 0 0 0 30rem;
    padding-top: 20rem;
  }
}
