.about-image {
  margin: 2rem auto;
  img {
    border-radius: 5%;
  }
}

@media screen and(min-width:1024px) {
  .about-image img {
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
