.about-image {
  margin: 2rem auto;
  img {
    border-radius: 5%;
  }
}

@media screen and(min-width:1024px) {
  .about-image img {
    transition: all 0.5s linear;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }
  }
}
