// * Section: Skills ---

#sec_Skills {
  margin-top: -1rem;
}

// * Cards
.container-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 1.8rem auto 0 auto;
}
.card-logo-frame {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 42rem;
  justify-content: flex-start;
  align-items: center;
  gap: rem;
}

.card-logo {
  padding: 1.3rem;
  border-radius: 20px;
  margin: 2rem auto 4rem auto;
  width: 25rem;
  height: 45rem;
  & > h3 {
    font-size: 1.8rem;
  }
}

.logo-table {
  margin-top: 1rem;
  padding: 1rem;
  th {
    text-align: end;
    font-weight: 400;
  }
  td {
    text-align: center;
  }

  th,
  td {
    padding: 0.5rem;
    font-size: 1.6rem;
  }
  .fa-star {
    font-size: 1rem;
  }
}

// * Table Colors
.card-colors {
  transform: scale(1);
  & .group-starts > .fa-star {
    color: var(--color-secondary);
  }
  box-shadow: 1px 1px 5px var(--color-primary-opacity);
  transition: transform 0.3s linear;
  &:hover {
    transform: scale(1.05);
    .group-starts > .fa-star {
      color: var(--color-accent);
    }
  }
}

// * Icons

.card-colors {
  .fa-sass {
    color: rgb(235, 88, 235);
  }
  .fa-bootstrap {
    color: rgb(163, 1, 163);
  }
  .fa-react {
    color: rgb(36, 115, 168);
  }
}

.fa-sass,
.fa-bootstrap,
.fa-react {
  font-size: 3.5rem;

  &:link,
  &:visited,
  &:active {
    color: var(--color-font);
  }
}

.pagination-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

// * paginations and column right

.pagination {
  font-size: 2rem;
  .btn {
    margin: 1rem 0 0 0;
  }
}
.disc {
  font-size: 1.5rem;
}

.card-logo_clmLeft {
  display: none;
}

// ^ Media Queries ^

@media screen and(min-width:900px) {
  .card-logo-frame {
    margin: 1rem auto 3rem auto;
    display: grid;
    grid-template-columns: 30rem 30rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    .card-logo {
      margin: 0 auto;
      width: 25rem;
      cursor: zoom-in;
    }
  }
  .card-logo_clmLeft {
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
    width: 45rem;
    .selfTaugh {
      font-weight: 400;
      margin-bottom: -1rem;
    }
    a {
      font-weight: 400;
    }

    span {
      font-weight: 400;
      white-space: initial;
    }
    p,
    ul,
    li,
    a {
      margin: 0.6rem 0;
      white-space: initial;
      text-decoration: none;
    }
    ul {
      padding: 0 0 1.5rem 2rem;
    }
    .card-logo_clmLeft > ul > li {
      margin-bottom: 1rem;
    }
  }
}

// ! colors of background customize logos
// HTML
/*background: linear-gradient(
      90deg,
      rgba(218, 73, 18, 1) 0%,
      rgba(230, 163, 89, 1) 50%,
      rgba(214, 121, 11, 1) 94%
    );*/

// CSS
/*background: linear-gradient(
      90deg,
      rgba(18, 135, 218, 1) 0%,
      rgba(89, 176, 230, 1) 50%,
      rgba(11, 171, 214, 1) 94%
    );*/

// JS
/*background: linear-gradient(
      90deg,
      rgba(222, 224, 26, 1) 0%,
      rgba(243, 255, 85, 1) 38%,
      rgba(251, 255, 142, 1) 82%
    );*/

// SQL
/*   background: linear-gradient(
      90deg,
      rgba(168, 188, 214, 1) 0%,
      rgba(250, 250, 250, 1) 100%
    ); */
