.container-logos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  & .card-logo > p {
    font-size: 2rem;
  }
  .card-logo {
    height: 40rem;
  }
}

@media screen and(min-width:700px) {
  .container-logos {
    flex-flow: row wrap;
    align-items: flex-start;

    gap: 4rem 2rem;

    & .card-logo {
      cursor: pointer;
      & > h3 {
        font-size: 1.8rem;
      }
    }
  }

  .frame-subTable {
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and(min-width: 708px) {
  .container-logos {
    margin: 0 auto;
  }
}

@media screen and(min-width: 1250px) {
  .container-logos {
    gap: 5rem 2rem;
  }
}

// * Table Colors

.fa-star {
  font-size: 1.2rem;
  color: var(--color-font-dk2);
}

.html-colors,
.css-colors,
.js-colors,
.sql-colors {
  box-shadow: 1px 1px 5px var(--color-bg-dk);
  transition: transform 0.3s linear;
  &:hover {
    color: var(--color-font-accent);
    transform: scale(1.07);
    background-color: var(--color-bg-dk);
    .group-starts > .fa-star {
      color: var(--color-font-accent);
    }
  }
}

.css-colors {
  &:hover {
    .fa-sass {
      color: rgb(235, 88, 235);
    }
    .fa-bootstrap {
      color: rgb(163, 1, 163);
    }
  }
}

.js-colors {
  &:hover {
    .fa-react {
      color: rgb(36, 115, 168);
    }
  }
}

.sql-colors {
  transition: transform 0.3s linear;
  &:hover {
    transform: scale(1.07);
  }
}

.fa-sass,
.fa-bootstrap,
.fa-react {
  font-size: 3.5rem;
  color: var(--color-font-dk);
  &:link,
  &:visited,
  &:active {
    color: var(--color-font-dk);
  }
}

// ! colors of background customize logos
// HTML
/*background: linear-gradient(
      90deg,
      rgba(218, 73, 18, 1) 0%,
      rgba(230, 163, 89, 1) 50%,
      rgba(214, 121, 11, 1) 94%
    );*/

// CSS
/*background: linear-gradient(
      90deg,
      rgba(18, 135, 218, 1) 0%,
      rgba(89, 176, 230, 1) 50%,
      rgba(11, 171, 214, 1) 94%
    );*/

// JS
/*background: linear-gradient(
      90deg,
      rgba(222, 224, 26, 1) 0%,
      rgba(243, 255, 85, 1) 38%,
      rgba(251, 255, 142, 1) 82%
    );*/

// SQL
/*   background: linear-gradient(
      90deg,
      rgba(168, 188, 214, 1) 0%,
      rgba(250, 250, 250, 1) 100%
    ); */
