.exp-card {
  width: 90rem;
  height: 40rem;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.card-overtitle,
.card-sub-tech {
  font-family: monospace;
  font-size: 1.7rem;
  color: var(--color-font-accent);
}

.card-overtitle,
.card-title {
  margin: 1rem 0 1rem 15rem;
}

.card-description {
  background-color: var(--color-dark-slate);
  padding: 2rem;
  width: 50rem;
  font-size: 1.5rem;
  white-space: initial;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.card-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  cursor: pointer;
  & img {
    border-radius: 15px;
    filter: blur(0.3px) grayscale(100%) contrast(1) brightness(90%) sepia(100%);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
    &:hover {
      transform: scale(1.05);
      filter: initial;
    }
  }
}
.card-img:hover + .card-description {
  transform: translateX(-50px);
}

.card-sub-tech {
  list-style-type: none;
  padding-left: 2rem;
  & li {
    font-size: 1.5rem;
    margin: 0 2rem 0 0;
  }
}

@media screen and(min-width:636px) {
}

@media screen and(min-width: 708px) {
  .frame-jobs {
    margin: 0 auto;
  }
}

@media screen and(min-width: 1200px) {
  .exp-title {
    margin-left: 7.5rem;
  }
  .exp-content {
    margin: 2rem 0 2rem 20rem;
  }
}
