.section-contact {
  & > p {
    max-width: 95%;
    white-space: initial;
  }
  & > ul {
    padding-left: 1rem;
    max-width: 90%;
    white-space: initial;
  }
  & > ul > li {
    max-width: 90%;
    white-space: initial;
    list-style-type: circle;
    font-size: 4vw;
    & > a:link,
    & > a:visited,
    & > a:hover,
    & > a:active {
      color: var(--color-accent);
      font-weight: 700;
      text-decoration: none;
    }
  }
}

// ^ Media Queries ^

@media screen and(min-width: 420px) {
  .section-contact {
    & > ul > li {
      font-size: 1.7rem;
    }
  }
}

@media screen and(min-width: 1000px) {
  .section-contact {
    width: 100%;
    padding-bottom: 1rem;
    & > p {
      margin: 1rem 0 3rem 0;
    }
    & > ul {
      padding-left: 2rem;
    }
    & > ul > li {
      margin-bottom: 1rem;
    }
  }
}
