//* - Themes
//* - Fonts
//* - Displays
//* - Margins

//& THEMES

.overlay {
  position: fixed;
  background-color: var(--color-primary-lighter);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

.paddingTop {
  padding-top: 2rem;
}

.trans {
  transition: transform 0.2s ease-in;
  transform: translateY(2rem);
}

.solid {
  background-color: transparent;
}
.darkShadow {
  background-color: var(--color-primary-lighter);
  box-shadow: 3px 0 15px var(--color-darkest);
  backdrop-filter: blur(2px);
}

.lightShadow {
  background-color: var(--color-primary-accent-opa);
  box-shadow: 3px 0 15px var(--color-darkest);
  backdrop-filter: blur(2px);
}

.blue {
  background-color: var(--color-primary-lighter);
}
//& FONTS
.transparent {
  color: var(--color-secondary);
}
.bold {
  font-weight: bold;
}

.highlight {
  border-bottom: 2px dotted var(--color-accent);
}

.hlgt {
  color: var(--color-accent);
  font-weight: bold;
}

.hlgt-light {
  color: var(--color-primary-accent);
}

.shadow {
  text-shadow: var(--shawdow);
}

.italic {
  font-style: italic;
}

// & DISPLAYS:
.on {
  display: block;
}

.off {
  display: none;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
}

.flex-clmn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.flex-sb {
  justify-content: space-between;
}

.flex-sa {
  justify-content: space-around;
}

.flex-st {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  align-items: center;
}

.flex-centered {
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

// & MARGINS

.mg-1 {
  margin: 1rem;
}
.mg-y-1 {
  margin: 1rem 0;
}

.mg-x-1 {
  margin: 0 1rem;
}

.mg-2 {
  margin: 2rem;
}
.mg-y-2 {
  margin: 2rem 0;
}

.mg-x-2 {
  margin: 0 2rem;
}

.mg-3 {
  margin: 3rem;
}
.mg-y-3 {
  margin: 3rem 0;
}

.mg-x-3 {
  margin: 0 3rem;
}
.mg-xl-3 {
  margin-left: 3rem;
}

.mg-4 {
  margin: 4rem;
}
.mg-y-4 {
  margin: 4rem 0;
}

.mg-x-4 {
  margin: 0 4rem;
}

.mg-xr-4 {
  margin-right: 4rem;
}

.mg-xl-4 {
  margin-left: 4rem;
}
