//* - Unique
//* - Fonts
//* - Displays
//* - Margins

//& Unique

.overlay {
  position: fixed;
  background-color: var(--color-primary-lighter);
  backdrop-filter: blur(2px);
  top: 7rem;
  width: 100vw;
  height: 90vh;
  z-index: 999;
}

.paddingTop {
  padding-top: 2rem;
}

.trans {
  transition: transform 0.2s ease-in;
  transform: translateY(2rem);
}

.solid {
  background-color: transparent;
}

.purePrimary {
  background-attachment: var(--color-primary);
}
.darkShadow {
  background-color: var(--color-primary-lighter);
  box-shadow: 3px 0 15px var(--color-darkest);
  backdrop-filter: blur(2px);
}

.lightShadow {
  background-color: var(--color-primary-accent-opacity);
  box-shadow: 3px 0 15px var(--color-darkest);
  backdrop-filter: blur(2px);
}

.blue {
  background-color: var(--color-primary-lighter);
}
//& FONTS
.transparent {
  color: var(--color-dots);
}
.bold {
  font-weight: bold;
}

.highlight {
  border-bottom: 2px dotted var(--color-accent);
}

.hlgt {
  color: var(--color-accent);
  font-weight: 600;
}

.hlgt-light {
  color: var(--color-primary-accent);
}

.shadow {
  text-shadow: var(--shawdow);
}

.italic {
  font-style: italic;
}

// & DISPLAYS:
.on {
  display: block;
}

.off {
  display: none;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
}

.flex-clmn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.flex-sb {
  justify-content: space-between;
}

.flex-sa {
  justify-content: space-around;
}

.flex-st {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  align-items: center;
}

.flex-centered {
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

// & MARGINS

.mg-x-1 {
  margin: 0 1rem;
}
.mg-xl-3 {
  margin-left: 3rem;
}
